# project config file (contain sensitive: server information)
.idea/*

# fuse results (contain images that can be reproduced by given model parameters)
runs/*

# macOS finder file (contain sensitive: local username)
**/.DS_Store

# python cache
**/__pycache__

# experimental data
data/*
!data/README.md
!data/show_img.py
!data/deal_dataset.py

# weights (update by release)
weights/*
!weights/v1/ct-fus-yolov5s.pt
!weights/v1/yolov5s.pt

# test files
**/test/*

# wandb
wandb/*

# cache
cache/*
